[submodule "index-generator"]
	path = index-generator
	url = ssh://aur@aur.archlinux.org/index-generator.git
[submodule "xwinwrap-git"]
	path = xwinwrap-git
	url = ssh://aur@aur.archlinux.org/xwinwrap-git.git
